<app-header></app-header>

<ion-content>
  <ion-content>
    <ion-grid class="py-md-5 bgPage">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-lg="8" class="form-register">
          <h1>Réinitialiser votre mot de passe</h1>
          <div class="logo-register">
            <img class="logo-reset-password" src="assets/img/Logo_App.png" alt="logo Namastest">
          </div>
          <div class="content">
            <p>Nouveau mot de passe <span class="obligatoire">*</span></p>
            <ion-item class="inputBlock">
              <ion-input type="text"></ion-input>
            </ion-item>
            <p>Répéter le mot de passe <span class="obligatoire">*</span></p>
            <ion-item class="inputBlock">
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-button>
              REINITIALISER
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>