<app-header></app-header>

<ion-content>
  <ion-grid class="py-md-5 bgPage">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-lg="8" class="form-register">
        <h1>Réinitialiser votre mot de passe</h1>
        <div class="content">
          <div class="logo-register">
            <ion-img class="logo-reset-password" src="assets/img/Logo_App.png" alt="logo Namastest">
            </ion-img>
          </div>
          <p>Email <span class="obligatoire">*</span></p>
          <ion-item class="inputBlock">
            <ion-input type="Email"></ion-input>
          </ion-item>
          <small>
            Entrez votre adresse e-mail, vous allez recevoir un lien de réinitialisation de votre mot de passe dans
            quelques instants.
          </small>
          <ion-button>
            ENVOYER L'EMAIL
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>