<app-header></app-header>

<ion-content>
  <div>
    <h1>Vos catalogues</h1>
    <nav>
      <ion-searchbar placeholder="filtrer mes tests"></ion-searchbar>
      <ion-button size="medium" expand="block" color="primary"><span><span>Aide</span>
          <ion-icon name="help-circle-outline"></ion-icon>
        </span></ion-button>

      <h2>Options</h2>
      <ion-button (click)="openNewCatalogModal()" size="medium" expand="block" color="primary"><span><span>Nouveau
            catalogue</span>
          <ion-icon name="add-circle-outline"></ion-icon>
        </span></ion-button>
    </nav>
    <ion-virtual-scroll class="ion-content-scroll-host">
      <ion-reorder-group (ionItemReorder)="reorderCatalogs($event)" disabled="false">
        <ion-item *ngFor="let catalog of catalogs">
          <ion-label> {{ catalog.title }} </ion-label>
          <ion-button class="eye" slot="end" routerLink="/catalog/details/{{catalog.id}}">
            <ion-icon name="eye"></ion-icon>
          </ion-button>
          <ion-button class="mt-3 trash" slot="end" color="danger" size="small" (click)="showConfirmAlert(catalog)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ion-reorder-group>
    </ion-virtual-scroll>
  </div>
</ion-content>
<app-footer-menu></app-footer-menu>