<app-header></app-header>

<ion-content>
  <ion-grid class="py-md-5 bgPage">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-lg="8" class="form-register">
        <h1>Lien de réinitialisation de votre mot de passe</h1>
        <div class="logo-register">
          <img class="logo-reset-password" src="assets/img/Logo_App.png" alt="logo Namastest">
        </div>
        <p>
          S'il existe un compte correspondant à votre e-mail, un e-mail vient d'être envoyé contenant un lien que vous
          pouvez utiliser pour réinitialiser votre mot de passe.
          Ce lien expirera dans (1 heure, TODO: afficher variable durée).
        </p>
        <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou
          <a class="text-color-white" href="">faire une nouvelle demande de
            réinitialisation</a>.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>